$font-header: 'Raleway', sans-serif;
$font-primary: 'Roboto Condensed', sans-serif;

$font-color: #f5f5f5;
$background-primary: rgb(249 250 251);
$subMenu: #272b31;
$accent1: #e04152;
$accent2: #49a0f3;
