@import './Variables';

.header {
  font-family: $font-header;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;
}

@media (min-width: 768px) {
  .header {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .header {
    font-size: 5rem;
  }
}