.logo {
    min-width: 20px !important;
    min-height: 20px !important;
    width: 80% !important;
    height: auto !important;
    border-radius: 10px !important;
    border: 1px solid #0f0f0f !important;
}
